# Ignore directory created by Terraform
.terraform/
.terragrunt-cache/

# Ignore all .tfstate files
*.tfstate
*.tfstate.*

# Ignore crash log files
crash.log

# Ignore override files as they are usually used for local configuration
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Ignore CLI configuration files
.terraformrc
terraform.rc

